{% extends "layout.html" %}
{% block title %} RESULTATS {% endblock %}
{% block content %}
    <div class="text-bg-light rounded-2xl lg:max-w-xl w-full mx-auto grid gap-7 py-8">
        <div class="grid gap-3">
            <h2 class="text-center text-gray-900 text-3xl font-bold font-manrope leading-10">Congratulations!</h2>
            <p class="xl:max-w-2xl w-auto mx-auto text-center text-gray-500 text-xl font-normal leading-relaxed">
                {{ msg }}
            </p>
        </div>
        <div class="flex justify-center items-center text-center w-full px-4">
            <a href="{{ url_for('home') }}"
               class="grow shrink basis-0 w-full px-7 py-3 bg-indigo-50 hover:bg-indigo-100 transition-all duration-500 rounded-xl">
                <span class="px-2 text-indigo-600 text-xl font-semibold leading-relaxed">Revenir à la page d'accueil</span>
            </a>
        </div>
    </div>

{% endblock %}}